/* Forum tytul */

.forum {
    padding: 20px 0 0 0;
}

.naglowek1 .tytul .srodek {
    width: 942px;
}

.naglowek1 .tytul h1.tekst {
    padding: 10px 0  0 15px;
    font-weight: bold;
    font-size: 2.0em;
}

.naglowek1 .nowy_temat .srodek {
    width: 150px;
}

.naglowek1 .nowy_temat h1.tekst {
    padding: 10px 0;
    font-size: 2.0em;
    text-align: center;
}


/* Forum naglowki */

.naglowek2 {
    margin: 10px 0 0 0;
}

.naglowek2 .szerokosc {
    width: 146px;
}

.naglowek2 .temat .szerokosc {
    width: 556px;
}

.naglowek2 .odpowiedzi .szerokosc {
    width: 96px;
}

.naglowek2 .data_modyfikacji .szerokosc {
    width: 136px;
}

/* Forum tematy */


.tabela .tematy {
    width: 560px;
}

.tabela .odpowiedzi {
    width: 100px;
    text-align: center;
}

.tabela .autorzy {
    width: 150px;
    text-align: center;
}

.tabela .ostatnie_posty {
    width: 150px;
    text-align: center;
}

.tabela .daty_modyfikacji {
    width: 140px;
    text-align: center;
} 
