/* Formularz postow naglowek */

.formularz_post {
    padding: 20px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    text-align: center;
}

.naglowek2 .szerokosc {
    width: 896px;
}

.naglowek2 .guzik .szerokosc {
    width: 96px;
}


/* Zawartosc formularzy */

.zawartosc {
    padding: 10px 0 0 10px;
}