/* Formularz postow naglowek */

.profil {
    padding: 20px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    text-align: center;
}

.formularz {
    width: 390px;
}

.formularz .opis {
    width: 100px;
}

.naglowek2 .szerokosc {
    width: 546px;
}

.naglowek2 .guzik .szerokosc {
    width: 96px;
}

/* Zawartosc formularzy */

.zawartosc {
    padding: 10px 0 0 10px;
}