/* Temat tytul */

.temat {
    padding: 20px 0 0 0;
}

.naglowek1 .tytul h1.tekst {
    padding: 10px 0  0 15px;
    font-weight: bold;
    font-size: 2.0em;
}

.naglowek1 .odpowiedz h1.tekst {
    padding: 10px 0;
    font-size: 2.0em;
    text-align: center;
}

.naglowek1 .tytul .srodek {
    width: 942px;
}

.naglowek1 .odpowiedz .srodek {
    width: 150px;
}

