/* Temat tytul */

.temat {
    padding: 20px 0 0 0;
}

.naglowek1 .tytul h1.tekst {
    padding: 10px 0  0 15px;
    font-weight: bold;
    font-size: 2.0em;
}

.naglowek1 .odpowiedz h1.tekst {
    padding: 10px 0;
    font-size: 2.0em;
    text-align: center;
}

.naglowek1 .tytul .srodek {
    width: 942px;
}

.naglowek1 .odpowiedz .srodek {
    width: 150px;
}

/* Temat nagłówki */

.naglowek2 {
    margin: 10px 0 0 0;
}

.naglowek2 .autor .szerokosc {
    width: 196px;
}

.naglowek2 .wiadomosc .szerokosc {
    width: 896px;
}


/* Temat posty */

.post .tabelka {
    float: left;
}

.post .autor {
    margin: 0 0 0 10px;
    width: 190px;
}

.post .autor .tekst {
    font-weight: bold;
}

.post .autor .nieznany a{
    color: #000;
}

.post .autor .kobieta a{
    color: #f622cc;
}

.post .autor .mezczyzna a{
    color: #120dc9;
}

.post .wiadomosc {
    margin: 0 0 0 10px;
    width: 890px;
}

.post .wiadomosc .tresc {
    margin: 10px 0 0 0;
}

.post .wiadomosc .kreska {
    background: url('../obrazki/linia.gif') repeat-x left bottom;
}

.post .podpis {
    margin: 0;
    font-style:italic;
}

.post .daty {
    margin: 0;
    padding: 5px 0px 0px 0px;
    background: url('../obrazki/linia.gif') repeat-x left bottom;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000;
}

