.uzytkownik {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 20px 0 0 0;
}

/* Użytkownik naglowki */

.naglowek2 .szerokosc {
    width: 496px;
}

/* Forum zawartość */

.zawartosc {
  text-align: center;   
}

