/* Użytkownicy nagłówki */

.uzytkownicy {
    padding: 20px 0 0 0;
}

.naglowek1 .szerokosc {
    width: 278px;
}

.naglowek1 .posty .szerokosc {
    width: 100px;
}

.naglowek1 .plec .szerokosc {
    width: 146px;
}


/* Lista uzytkownikow */

.tabela .ulozenie {
    text-align: center;
    width: 282px;
}

.tabela .posty {
    width: 104px;
}

.tabela .plec {
    width: 150px;

}

