.zaloguj {
    margin-left: auto;
    margin-right: auto;
    width: 316px;
    padding: 20px 0 0 0;
    text-align: center;
}

.formularz {
    margin-top: 10px;
    width: 306px;
}

.formularz .opis {
    width: 120px;
}

.naglowek2 .szerokosc {
    width: 312px;
}

.naglowek2 .guzik .szerokosc {
    width: 96px;
}