.zmiana_hasla {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    padding: 20px 0 0 0;
    text-align: center;
}

.formularz {
    margin-top: 10px;
    width: 276px;
}

.formularz .opis {
    width: 90px;
}

.naglowek2 .szerokosc {
    width: 276px;
}

.naglowek2 .guzik .szerokosc {
    width: 96px;
}