{% extends "baza.html" %}

{% block title %}
    Strona główna
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/fora.css" />
{% endblock %}

{% block zawartosc %}
    {% for forum in fora %}
    <div class="forum">
	<div class="naglowek1">
	    <div class="tytul">
		<div class="belka lewy"></div>
		<div class="belka srodek">
		    <h1 class="tekst">
			{{ forum }}
		    </h1>
		</div>
		<div class="belka prawy"></div>
	    </div>
	    <a href="nowytemat/{{ forum.id }}">
		<div class="nowy_temat">
		    <div class="belka lewy"></div>
		    <div class="belka srodek">
			<h1 class="tekst">
			    Nowy temat
			</h1>
		    </div>
		    <div class="belka prawy"></div>
		</div>
	    </a>
	    <div style="clear: both;"></div>
	    {% if forum.opis %}
		<p class="opis">
		    {{ forum.opis }}
		</p>
	    {% endif %}
	</div>

	<div class="naglowek2">
	{% for jeden in 12345|make_list %}
	    <div class="{% cycle 'temat' 'odpowiedzi' 'autor' 'ostatni_post' 'data_modyfikacji' %}">
		<div class="belka lewy"></div>
		<div class="belka srodek szerokosc">
		    <h2 class="tekst">
			{% cycle 'Temat' 'Odpowiedzi' 'Autor' 'Ostatni post' 'Data modyfikacji' %}
		    </h2>
		</div>
		<div class="belka prawy"></div>
	    </div>
	{% endfor%}
	    <div style="clear: both;"></div>
	</div>
	
	<div class="tabela">
	    <div class="ulozenie tematy">
		<ul>
		{% for temat in forum.tematy.all %}
		    <li><a href="/dfor/temat/{{ temat.id }}">{{ temat }}</a></li>
		{% endfor %}
		</ul>
	    </div>
	    <div class="ulozenie odpowiedzi">
		<ul>
		{% for temat in forum.tematy.all %}
		    <li>{{ temat.iloscOdpowiedzi }}</li>
		{% endfor %} 
		</ul>
	    </div>
	    <div class="ulozenie autorzy">
		<ul>
		{% for temat in forum.tematy.all %}
		    <li><a href="/dfor/uzytkownik/{{ temat.autorTematu.id }}">{{ temat.autorTematu }}</a></li>
		{% endfor %}    
		</ul>
	    </div>
	    <div class="ulozenie ostatnie_posty">
		<ul>
		{% for temat in forum.tematy.all %}
		    <li><a href="/dfor/uzytkownik/{{ temat.ostatniPost.autor.id }}">{{ temat.ostatniPost.autor }}</a></li>
		{% endfor %}  
		</ul>
	    </div>
	    <div class="ulozenie daty_modyfikacji">
		<ul>
		{% for temat in forum.tematy.all %}
		    <li>{{ temat.ostatniPost.data_modyfikacji|date:'d.m.Y H:i' }}</li>
		{% endfor %}  
		</ul>
	    </div>
	    <div style="clear: both;"></div>
	</div>
    </div>
    {% empty %}
	Puste forum
    {% endfor %}
{% endblock %}
