{% extends "baza.html" %}

{% block title %}
    {% if zadanie == 'odpowiedz' %}
	Odpowiedź w
    {% elif zadanie == 'nowy_temat' %}
	Tworzenie nowego tematu w
    {% elif zadanie == 'edytuj' %}
	Edycja postu w
    {% endif %}
    {{ tytul }}
{% endblock %}

{% block head %}
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript">
	$(document).ready(function(){
	    $('#id_tytul').focus();
	    $('#form_submit').hide();
  	    $('#id_podpis').css('width','796px');
	    $('#id_guzik').html("<a href=\"#\" onclick=\"slij();return false;\"><div class=\"belka lewy\"></div><div class=\"belka srodek szerokosc\"><h2 class=\"tekst\">{% if zadanie == 'odpowiedz' or zadanie == 'nowy_temat' %}Dodaj{% elif zadanie == 'edytuj' %}Edytuj{% endif %}</h2></div><div class=\"belka prawy\"></div></a>");
	});
	function slij() {
 	    $('#id_safe').val('on');
	    $('#id_form').submit();
	}
	tinyMCE.init({
		mode : "textareas",
		language : "pl",
		theme : "advanced",

		plugins : "autolink,lists,save,emotions,inlinepopups,insertdatetime,paste",

		skin : "o2k7",
		skin_variant : "silver",
		
		theme_advanced_buttons1 : "save,newdocument,|,undo,redo,|,cut,copy,paste,pastetext,pasteword,|,bold,italic,underline,strikethrough,|,sub,sup,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,forecolor,backcolor,|,link,unlink,cleanup,|,insertdate,inserttime,|,hr,charmap,emotions",
		theme_advanced_toolbar_align : "center",
		theme_advanced_statusbar_location : "none",
	});
    </script>
{% endblock %}

{% block zawartosc %}
    <div class="formularz_postow">
	<div class="naglowek2">
	    <div class="podpis">
		<div class="belka lewy"></div>
		<div class="belka srodek szerokosc" id="id_podpis">
		    <h2 class="tekst">
			{% if zadanie == 'odpowiedz' %}
			    Odpowiedź w
			{% elif zadanie == 'nowy_temat' %}
			    Tworzenie nowego tematu w 
			{% elif zadanie == 'edytuj' %}
			    Edycja postu w
			{% endif %}
			{{ tytul }}
		    </h2>
		</div>
		<div class="belka prawy"></div>
	    </div>
	    
	    <div class="guzik" id="id_guzik"></div>
	    <div style="clear: both;"></div>
	</div>
  
	<div class="zawartosc">
	    <form action="." method="post" id="id_form">
	    {% csrf_token %}
	    {% if formTemat %}
		<div class="formularz">
		    {% include "i_formularz.html" with form=formTemat %}
		</div>
	    {% endif %}
	    <div>
		{{ formPost.non_field_errors }}
		{{ formPost.tekst.errors }}
	    </div>
	    <div align='center'>
	    {{ formPost.tekst }}
	    </div>
	    {{ formPost.safe }}
	    <p id="form_submit">
		<input type="submit" value="{% if zadanie == 'odpowiedz' or zadanie == 'nowy_temat' %}Dodaj{% elif zadanie == 'edytuj' %}Edytuj{% endif %}" />
	    </p>
	    </form>
	</div>
    </div>
{% endblock %}

