{% extends "baza.html" %}

{% block title %}
    Zmiana hasła
{% endblock %}

{% block head %}
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript">
	$(document).ready(function(){
	    $('#id_stareHaslo').focus();
	    $('#form_submit').hide();
  	    $('#id_tytul').css('width','176px');
 	    $('#id_guzik').html("<a href=\"#\" onclick=\"slij();return false;\"><div class=\"belka lewy\"></div><div class=\"belka srodek szerokosc\"><h2 class=\"tekst\">Zmień</h2></div><div class=\"belka prawy\"></div></a>");
	    $('#id_stareHaslo').keypress(function(e) {
		if (e.keyCode == 13) {
		    slij();
		    return e.preventDefault();
		}
	    });
	    $('#id_noweHaslo1').keypress(function(e) {
		if (e.keyCode == 13) {
		    slij();
		    return e.preventDefault();
		}
	    });
	    $('#id_noweHaslo2').keypress(function(e) {
		if (e.keyCode == 13) {
		    slij();
		    return e.preventDefault();
		}
	    });
	});
	function slij() {
	    $('#id_form').submit();
	}
    </script>
{% endblock %}

{% block zawartosc %}
   <div class="zmiana_hasla">
	<div class="naglowek2">
	    <div class="tytul">
		<div class="belka lewy"></div>
		<div class="belka srodek szerokosc" id="id_tytul">
		    <h2 class="tekst">
			Zmiana hasła
		    </h2>
		</div>
		<div class="belka prawy"></div>
	    </div>
	    
	    <div class="guzik" id="id_guzik"></div>
	    <div style="clear: both;"></div>
	</div>
	
	<div class="formularz">
	    <form method="post" action="." id="id_form">
	    {% csrf_token %}
	    
	    {% include "i_formularz.html" %}
	    
	    <input type="submit" value="Zmień" id="form_submit" />
	    </form>
	</div>
    </div>
{% endblock %}