{% extends "baza.html" %}

{% block title %}
    {% if zadanie == 'odpowiedz' %}
	Odpowiedź w {{ temat.tytul }}
    {% elif zadanie == 'nowy_temat' %}
	Tworzenie nowego tematu w {{ forum.nazwa }}
    {% elif zadanie == 'edytuj' %}
	Edycja postu w {{ temat.tytul }}
    {% endif %}
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/formularz_post.css" />
{% endblock %}

{% block head %}
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript">
	$(document).ready(function(){
	    $('#id_tytul').focus();
	    $('#form_submit').hide();
  	    $('#id_podpis').css('width','796px');
	    $('#id_guzik').html("<a href=\"#\" onclick=\"slij();return false;\"><div class=\"belka lewy\"></div><div class=\"belka srodek szerokosc\"><h2 class=\"tekst\">{% if zadanie == 'odpowiedz' or zadanie == 'nowy_temat' %}Dodaj{% elif zadanie == 'edytuj' %}Edytuj{% endif %}</h2></div><div class=\"belka prawy\"></div></a>");
	});
	function slij() {
 	    $('#id_safe').val('on');
	    $('#id_form').submit();
	}
	tinyMCE.init({
		mode : "textareas",
		theme : "simple"
	});
    </script>
{% endblock %}

{% block zawartosc %}
    <div class="formularz_post">
	<div class="naglowek2">
	    <div class="podpis">
		<div class="belka lewy"></div>
		<div class="belka srodek szerokosc" id="id_podpis">
		    <h2 class="tekst">
			{% if zadanie == 'odpowiedz' %}
			    Odpowiedź w {{ temat.tytul }}
			{% elif zadanie == 'nowy_temat' %}
			    Tworzenie nowego tematu w {{ forum.nazwa }}
			{% elif zadanie == 'edytuj' %}
			    Edycja postu w {{ temat.tytul }}
			{% endif %}
		    </h2>
		</div>
		<div class="belka prawy"></div>
	    </div>
	    
	    <div class="guzik" id="id_guzik"></div>
	    <div style="clear: both;"></div>
	</div>
  
	<div class="zawartosc">
	    <form action="." method="post" id="id_form">
	    {% csrf_token %}
	    {% if formTemat %}
		<div class="formularz">
		    <div class="tabelka opis">
			{{ formTemat.tytul.label_tag }}
		    </div>
		    <div class="tabelka">
			{{ formTemat.tytul }}
		    </div>
		    <div style="clear: both;"></div>
		</div>
	    {% endif %}    
	    <div align='center'>
	    {{ formPost.tekst }}
	    </div>
	    {{ formPost.safe }}
	    <p id="form_submit">
		<input type="submit" value="{% if zadanie == 'odpowiedz' or zadanie == 'nowy_temat' %}Dodaj{% elif zadanie == 'edytuj' %}Edytuj{% endif %}" />
	    </p>
	    </form>
	</div>
    </div>
{% endblock %}

