<div class="post">
    <div class="naglowek2">
	<div class="autor">
	    <div class="belka lewy"></div>
	    <div class="belka srodek szerokosc">
		<h2 class="tekst">
		    Autor
		</h2>
	    </div>
	    <div class="belka prawy"></div>
	</div>
	<div class="{% if post.autor.id == uzytkownik.id or uzytkownik.uzytkownik.is_staff %}wiadomosc_z_edycja{% else %}wiadomosc{% endif %}">
	    <div class="belka lewy"></div>
		<div class="belka srodek szerokosc">
		    <h2 class="tekst">
			Wiadomość
		    </h2>
		</div>
		<div class="belka prawy"></div>
	    </div>
	    {% if post.autor.id == uzytkownik.id or uzytkownik.uzytkownik.is_staff %}
		<a href="/dfor/post/edytuj/{{ post.id }}">
		    <div class="edytuj">
			<div class="belka lewy"></div>
			<div class="belka srodek szerokosc">
			    <h2 class="tekst">
				Edytuj
			    </h2>
			</div>
			<div class="belka prawy"></div>
		    </div>
		</a>
		<a href="/dfor/post/usun/{{ post.id }}" onclick="return (confirm('Napewno chcesz usunąć ten post?'))">
		    <div class="usun">
			<div class="belka lewy"></div>
			<div class="belka srodek szerokosc">
			    <h2 class="tekst">
				Usuń
			    </h2>
			</div>
			<div class="belka prawy"></div>
		    </div>
		</a>
	    {% endif %}
	    <div style="clear: both;"></div>
	</div>
	<div class="tabelka napis_autor">
	    <p class="tekst {% if post.autor.plec = 'K' %}kobieta{% elif post.autor.plec = 'M' %}mezczyzna{% else %}nieznany{% endif %}">
	    <a href="/dfor/uzytkownik/{{ post.autor.id }}">{{ post.autor }}</a></p>
	    {% if post.autor.avatar %}
		<p><img src="{{ media }}{{ post.autor.avatar }}" /></p>
	    {% endif %}
	    <p>
	    {% if post.autor.data_urodzenia %}
		Wiek: {{ post.autor.wiek }}<br>
	    {% endif %}
	    Posty: {{ post.autor.iloscPostow }}</p>
	</div>
	<div class="tabelka wiadomosc">
	    <p class="daty">Dodany {{ post.data_utworzenia }}
	    {% if post.zmieniony %}
		zmieniony {{ post.data_modyfikacji }}
	    {% endif %}
	    </p>
	    <p class="tresc {% if post.autor.podpis %}kreska{% endif %}">
	    {% if post.safe %}
		{{ post.tekst|safe }}
	    {% else %}
		{{ post.tekst }}
	    {% endif %}
	    </p>
	    {% if post.autor.podpis %}
		<p class="podpis">{{ post.autor.podpis }}</p>
	    {% endif %}
	</div>
    <div style="clear: both;"></div>
</div> 
