{% extends "baza.html" %}

{% block title %}
    {{ tytul }}
{% endblock %}

{% block zawartosc %}
    <div class="{{ zadanie }} lista_tematow">
	<div class="naglowek1">
	    <div class="tytul">
		<div class="belka lewy"></div>
		<div class="belka srodek">
		    <h1 class="tekst">
			{{ tytul }}
		    </h1>
		</div>
		<div class="belka prawy"></div>
	    </div>
	    {% if zadanie == 'forum' %}
		<a href="/dfor/nowytemat/{{ forum.id }}">
		    <div class="nowy_temat">
			<div class="belka lewy"></div>
			<div class="belka srodek">
			    <h1 class="tekst">
				Nowy temat
			    </h1>
			</div>
			<div class="belka prawy"></div>
		    </div>
		</a>
	    {% endif %}
	    <div style="clear: both;"></div>
	    {% if forum.opis %}
		<p class="opis">
		    {{ forum.opis }}
		</p>
	    {% endif %}
	</div>

	{% include "i_tematy.html" %}
	{% include "i_nawigacja_podstronami.html" with dane=tematy %}
    </div>
{% endblock %}
