{% extends "baza.html" %}

{% block title %}
    Posty użytkownika: {{ posty.all.0.autor }}
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/posty.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/post.css" />   
{% endblock %}

{% block zawartosc %}
    <div class="posty">
	<div class="naglowek1">
	    <div class="tytul">
		<div class="belka lewy"></div>
		<div class="belka srodek">
		    <h1 class="tekst">
			Posty użytkownika: {{ posty.all.0.autor }}
		    </h1>
		</div>
		<div class="belka prawy"></div>
	    </div>
	    <div style="clear: both;"></div>
	</div>
	
	{% for post in posty %}
	{% include "post.html" %}
	{% endfor %}
    </div>
{% endblock %}