{% extends "baza.html" %}

{% block title %}
    Edycja profilu użytkownika {{ uzytkownik }}
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/profil.css" />
{% endblock %}

{% block head %}
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript">
	$(document).ready(function(){
	    $('#id_email').focus();
	    $('#form_submit').hide();
	    $('#id_zmianahasla').hide();
  	    $('#id_podpis').css('width','396px');
  	    $('#id_guzik1').html("<a href=\"/dfor/profil/zmianahasla\"><div class=\"belka lewy\"></div><div class=\"belka srodek szerokosc\"><h2 class=\"tekst\">Zmiana hasła</h2></div><div class=\"belka prawy\"></div></a>");
	    $('#id_guzik2').html("<a href=\"#\" onclick=\"slij();return false;\"><div class=\"belka lewy\"></div><div class=\"belka srodek szerokosc\"><h2 class=\"tekst\">Edytuj</h2></div><div class=\"belka prawy\"></div></a>");
	});
	function slij() {
 	    $('#id_safe').val('on');
	    $('#id_form').submit();
	}
	tinyMCE.init({
		mode : "textareas",
		theme : "simple"
	});
    </script>
{% endblock %}

{% block zawartosc %}
    <div class="profil">
	<div class="naglowek2">
	    <div class="podpis">
		<div class="belka lewy"></div>
		<div class="belka srodek szerokosc" id="id_podpis">
		    <h2 class="tekst">
			Edycja profilu {{ uzytkownik }}
		    </h2>
		</div>
		<div class="belka prawy"></div>
	    </div>
	    <div class="guzik" id="id_guzik1"></div>
	    <div class="guzik" id="id_guzik2"></div>
	    <div style="clear: both;"></div>
	</div>

	<div class="zawartosc">
	    <form action='.' method='post' enctype='multipart/form-data' id="id_form">
	    {% csrf_token %}
	    <div class="formularz">
		{% include "formularz.html" with form=formGlowne %}
		{% include "formularz.html" with form=formDodatkowe %}
		
		<input type="submit" value="Edytuj" id="form_submit" />
		
		<p id="id_zmianahasla">
		    <a href="/dfor/profil/zmianahasla">Zmiana hasła<a>
		</p>
	    </div>
	    
	    </form>
	</div>
    </div>
{% endblock %}
