{% extends "baza.html" %}

{% block title %}
    Rejestracja użytkownika
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/rejestruj.css" />
{% endblock %}

{% block head %}
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript">
	$(document).ready(function(){
	    $('#id_email').focus();
	    $('#form_submit').hide();
  	    $('#id_podpis').css('width','306px');
	    $('#id_guzik').html("<a href=\"#\" onclick=\"slij();return false;\"><div class=\"belka lewy\"></div><div class=\"belka srodek szerokosc\"><h2 class=\"tekst\">OK</h2></div><div class=\"belka prawy\"></div></a>");
	});
	function slij() {
 	    $('#id_safe').val('on');
	    $('#id_form').submit();
	}
	tinyMCE.init({
		mode : "textareas",
		theme : "simple"
	});
    </script>
{% endblock %}

{% block zawartosc %}
    <div class="rejestruj">
	<div class="naglowek2">
	    <div class="podpis">
		<div class="belka lewy"></div>
		<div class="belka srodek szerokosc" id="id_podpis">
		    <h2 class="tekst">
			Rejestracja użytkownika
		    </h2>
		</div>
		<div class="belka prawy"></div>
	    </div>
	    <div class="guzik" id="id_guzik"></div>
	    <div style="clear: both;"></div>
	</div>
	<div class="zawartosc">
	    <form action='.' method='post' enctype='multipart/form-data' id="id_form">
		{% csrf_token %}
		<div class="formularz">
		    {% include "formularz.html" with form=formGlowne zaznacz='True' %}
		    {% include "formularz.html" with form=formHaslo zaznacz='True' %}
		    {% include "formularz.html" with form=formDodatkowe zaznacz='True' %}
		    <input type="submit" value="OK" id="form_submit" />
		</div>
	    </form>
	</div>
    </div>
{% endblock %}
