{% extends "baza.html" %}

{% block title %}
    {{ posty.0.temat.tytul }}
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/temat.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/post.css" />
{% endblock %}

{% block zawartosc %}
    <div class="temat">
	<div class="naglowek1">
	    <div class="tytul">
		<div class="belka lewy"></div>
		<div class="belka srodek">
		    <h1 class="tekst">
			{{ posty.0.temat.tytul }}
		    </h1>
		</div>
		<div class="belka prawy"></div>
	    </div>
	    <a href="odpowiedz/">
		<div class="odpowiedz">
		    <div class="belka lewy"></div>
		    <div class="belka srodek">
			<h1 class="tekst">
			    Odpowiedz
			</h1>
		    </div>
		    <div class="belka prawy"></div>
		</div>
	    </a>
	    <div style="clear: both;"></div>
	</div>
	
	{% for post in posty %}
	{% include "post.html" %}
	{% endfor %}
	
	<div class="naglowek1">
	    <div class="tytul">
		<div class="belka lewy"></div>
		<div class="belka srodek">
		    <h1 class="tekst">
			{{ posty.0.temat.tytul }}
		    </h1>
		</div>
		<div class="belka prawy"></div>
	    </div>
	    <a href="odpowiedz/">
		<div class="odpowiedz">
		    <div class="belka lewy"></div>
		    <div class="belka srodek">
			<h1 class="tekst">
			    Odpowiedz
			</h1>
		    </div>
		    <div class="belka prawy"></div>
		</div>
	    </a>
	    <div style="clear: both;"></div>
	</div>
    </div>
{% endblock %}