{% extends "baza.html" %}

{% block title %}
    Użytkownicy
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/uzytkownicy.css" />
{% endblock %}

{% block zawartosc %}
    <div class="uzytkownicy">

	<div class="naglowek2">
	{% for jeden in 12345|make_list %}
	    <div class="{% cycle 'login' 'email' 'plec' 'skad' 'posty' %}">
		<div class="belka lewy"></div>
		<div class="belka srodek szerokosc">
		    <h2 class="tekst">
			{% cycle 'Login' 'E-mail' 'Płeć' 'Skąd' 'Posty' %}
		    </h2>
		</div>
		<div class="belka prawy"></div>
	    </div>
	{% endfor%}
	    <div style="clear: both;"></div>
	</div>
	
	<div class="tabela">
	    <div class="ulozenie login">
		<ul>
		{% for uzytk in uzytkownicy %}
		    <li><a href="/dfor/uzytkownik/{{ uzytk.id }}">{{ uzytk.uzytkownik.username }}</a></li>
		{% endfor %}
		</ul>
	    </div>
	    <div class="ulozenie email">
		<ul>
		{% for uzytk in uzytkownicy %}
		    <li><a href="mailto:{{ uzytk.uzytkownik.email }}">{{ uzytk.uzytkownik.email }}</a></li>
		{% endfor %} 
		</ul>
	    </div>
	    <div class="ulozenie plec">
		<ul>
		{% for uzytk in uzytkownicy %}
		    <li>
		    {% if uzytk.plec = 'K' %}
			Kobieta
		    {% elif uzytk.plec = 'M' %}
			Mężczyzna
		    {% else %}
			?
		    {% endif %}
		    </li>
		{% endfor %}    
		</ul>
	    </div>
	    <div class="ulozenie skad">
		<ul>
		{% for uzytk in uzytkownicy %}
		    <li>
		    {% if uzytk.miejscowosc %}
			{{ uzytk.miejscowosc }}
		    {% else %}
			?
		    {% endif %}
		    </li>
		{% endfor %}  
		</ul>
	    </div>
	    <div class="ulozenie posty">
		<ul>
		{% for uzytk in uzytkownicy %}
		    <li>{{ uzytk.iloscPostow }}</li>
		{% endfor %}  
		</ul>
	    </div>
	    <div style="clear: both;"></div>
	</div>
    </div>
{% endblock %}
