{% extends "baza.html" %}

{% block title %}
    Użytkownik {{ uzytk.uzytkownik.username }}
{% endblock %}

{% block style %}
     <link rel="stylesheet" type="text/css" href="/static/css/uzytkownik.css" />
{% endblock %}

{% block zawartosc %}
   <div class="uzytkownik">
	<div class="naglowek2">
	    <div class="login">
		<div class="belka lewy"></div>
		<div class="belka srodek szerokosc">
		    <h2 class="tekst">
			Profil użytkownika {{ uzytk.uzytkownik.username }}
		    </h2>
		</div>
		<div class="belka prawy"></div>
	    </div>
	    <div style="clear: both;"></div>
	</div>
	
	<div class="zawartosc">
	    {% if uzytk.avatar %}
		<p><img src="{{ media }}{{ uzytk.avatar }}" /></p>
	    {% endif %}
	    <p>
	    {% if uzytk.uzytkownik.first_name %}
		{{ uzytk.uzytkownik.first_name  }} 
	    {% endif %}
	    {% if uzytk.uzytkownik.last_name %}
		{{ uzytk.uzytkownik.last_name  }} 
	    {% else %}
	    {% endif %}
	    
	    <a href="mailto:{{ uzytk.uzytkownik.email }}">{{ uzytk.uzytkownik.email }}</a><br>
	    
	    {% if uzytk.plec = 'K' %}
		Kobieta<br>
	    {% elif uzytk.plec = 'M' %}
		Mężczyzna<br>
	    {% endif %}
	    
	    {% if uzytk.miejscowosc %}
		Miejscowość: {{ uzytk.miejscowosc }}<br>
	    {% endif %}
	    
	    {% if uzytk.data_urodzenia %}
		Data urodzenia: {{ uzytk.data_urodzenia }}<br>
	    {% endif %}
	    Dołączył: {{ uzytk.uzytkownik.date_joined  }} <br>
	    Ostatnio zalogowany: {{ uzytk.uzytkownik.last_login  }}
	    </p>
	   
	    <p>
		<a href="/dfor/uzytkownik/posty/{{ uzytk.id }}">Wszystkie posty użytkownika</a>
	    </p>
	</div>
    </div>
	
{% endblock %}
