{% extends "baza.html" %}

{% block title %}
    Użytkownicy
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/uzytkownicy.css" />
{% endblock %}

{% block zawartosc %}
    <div class="uzytkownicy">
	<div class="naglowki">
	    <div class="login">
		<div class="pasek lewy"></div>
		<div class="pasek srodek szerokosc">
		    <h2 class="tekst">
			Login
		    </h2>
		</div>
		<div class="pasek prawy"></div>
	    </div>
	    <div class="email">
		<div class="pasek lewy"></div>
		<div class="pasek srodek szerokosc">
		    <h2 class="tekst">
			E-Mail
		    </h2>
		</div>
		<div class="pasek prawy"></div>
	    </div>
	    <div class="plec">
		<div class="pasek lewy"></div>
		<div class="pasek srodek szerokosc">
		    <h2 class="tekst">
			Płeć
		    </h2>
		</div>
		<div class="pasek prawy"></div>
	    </div>
	    <div class="skad">
		<div class="pasek lewy"></div>
		<div class="pasek srodek szerokosc">
		    <h2 class="tekst">
			Skąd
		    </h2>
		</div>
		<div class="pasek prawy"></div>
	    </div>
	    <div class="posty">
		<div class="pasek lewy"></div>
		<div class="pasek srodek szerokosc">
		    <h2 class="tekst">
			Posty
		    </h2>
		</div>
		<div class="pasek prawy"></div>
	    </div>
	    <div style="clear: both;"></div>
	</div>
	
	<div class="zawartosc">
	    <div class="tabelka login">
		<ul>
		{% for uzytk in uzytkownicy %}
		    <li><a href="/dfor/uzytkownik/{{ uzytk.id }}">{{ uzytk.uzytkownik.username }}</a></li>
		{% endfor %}
		</ul>
	    </div>
	    <div class="tabelka email">
		<ul>
		{% for uzytk in uzytkownicy %}
		    <li><a href="mailto:{{ uzytk.uzytkownik.email }}">{{ uzytk.uzytkownik.email }}</a></li>
		{% endfor %} 
		</ul>
	    </div>
	    <div class="tabelka plec">
		<ul>
		{% for uzytk in uzytkownicy %}
		    <li>
		    {% if uzytk.plec = 'K' %}
			Kobieta
		    {% elif uzytk.plec = 'M' %}
			Mężczyzna
		    {% else %}
			?
		    {% endif %}
		    </li>
		{% endfor %}    
		</ul>
	    </div>
	    <div class="tabelka skad">
		<ul>
		{% for uzytk in uzytkownicy %}
		    <li>
		    {% if uzytk.miejscowosc %}
			{{ uzytk.miejscowosc }}
		    {% else %}
			?
		    {% endif %}
		    </li>
		{% endfor %}  
		</ul>
	    </div>
	    <div class="tabelka posty">
		<ul>
		{% for uzytk in uzytkownicy %}
		    <li>do zrobienia</li>
		{% endfor %}  
		</ul>
	    </div>
	    <div style="clear: both;"></div>
	</div>
    </div>
{% endblock %}
