<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block tytul %}DFor{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>

<body>
<!-- Start of top navigation/header -->
<header>
    <div id="menu">
        {% block menu %}
            Menu
        {% endblock %}
    </div>
</header>
<!-- End of top navigation/header -->

<!-- Start of logo -->
<div id="logo">
    <h1><a href="">Forum - DFor</a></h1>
    <h2>dla każdego</h2>
</div>
<!-- End of logo -->

<hr />

<!-- Start of actual page -->
<div id="page">
	<div id="content">
            <div id="forum">
		<div class="tytul">
                    <div class="lewy">
                    </div>
                    
                    <div class="srode">
                        opis
                    </div>
                    
                    <div class="prawy">
                    </div>
		</div>
		sdasdsa
            </div>
 dfsd
 fsfs
 fsdf
 dsfs
 fsd
 fsdfds
	</div>
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- End of actual page -->

<!-- Start of footer -->
<!-- Do not remove copyright, thank you. -->
<footer>
	<p>&copy; Copyright 2012 ZiomekH & Adi. <br> Designed by <a href="http://www.runelocus.com/" title="D.Juwara">D.Juwara</a> for <a href="http://www.zymic.com" title="Zymic Free Templates">Zymic</a> <a href="http://www.zymic.com/free-templates">Free Templates</a>. <a href="http://www.zymic.com/free-web-hosting/">Free Web Hosting</a>.</p>
</footer>
<!-- End of footer -->
</html>